{% extends 'base.html' %}
{% block head %}
<title>Add Student</title>
{% endblock %}

{% block body %}
<div class="content">
    <br><br>
    <div class="container-fluid" style="width: 600px;">
    
        <p class="h5">Enter Student details</p>
        <br>
    <form action="/add" method="POST" enctype="multipart/form-data" onsubmit="return test()">
        <div class="row mb-3">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="name" name="name">
          </div>
        </div>
        <div class="row mb-3">
          <label for="course" class="col-sm-2 col-form-label">Course</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="course" name="course">
          </div>
        </div>
        <div class="row mb-3">
            <label for="phone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="phone" name="phone">
            </div>
          </div>
          <div class="row mb-3">
            <label for="picture" class="col-sm-2 col-form-label">Picture</label>
            <div class="col-sm-5">
              <!--<input type="text" class="form-control" id="picture" name="picture">-->
              <input type = "file" name = "file" id="uploadFile">
            </div>
          </div>
          
         <button type="submit" class="btn btn-primary">Save</button>
      </form>
      <br><br>
      </div>
      <br>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
      {% endwith %}
      
</div>

<script>
  function test(){
    var files = uploadFile.files;
    if (files.length == 0) {
      alert("Must select a picture for upload!");
      return false;
    }
    else
      return true;
  }
</script>
{% endblock %}

